.card{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
h5{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    text-align: justify;
    line-height: 30px;
    color:#6c7a89;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;

}
